**/pubspec.lock
**/.dart_tool/
**/build/
**/.flutter-plugins-dependencies
**/.metadata
web/web/*.js
!web/web/coi-serviceworker.js
web/web/*.mjs
web/web/*.wasm
web/web/*.map
web/web/*.deps
web/web/fixtures/
